body {
    font-family: 'Montserrat', sans-serif;
}

.navbar-brand{
    display: flex!important;
    /* justify-content: space-around;
    width: 100%; */
}

footer {
    background-color: #273a84;
    color: white;
    bottom: 0;
    height: 20vh;
}


@media screen and (max-width:1087px){
    .navbar {
        display: block;
    }

    .navbar-brand {
        justify-content: space-around;
        width: 100%;
    }

    #navbarBasic{
        width:100%;
    }
}

@media screen and (max-width: 720px){
    .media-content * {
        margin:0 !important;
    }
    .title.is-4 {
        font-size: 20px !important;
    }
}