

.navbar-brand{
    display: flex;
}

.chart-container {
    height:167px; 
    width:167px;
}

.hidden {
    display: none;
}

@media screen and (max-width:1087px){
    .navbar {
        display: block;
    }
}