html{
    scroll-behavior: smooth;
}
body {
    font-family: 'Montserrat', sans-serif;
    background-color: #f9f9f9;
}
.navbar {
    background-color: #f9f9f9;
}

.navbar-brand{
    display: flex!important;
    text-transform: uppercase;
    font-size: 25px;
    letter-spacing: 5px;
}

h1 {
    text-transform: uppercase;
    letter-spacing: 2px;
}
label{
    line-height: 3
}
.card{
    border: none;
    box-shadow: none;
}

.button, input[type=submit] {
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 1px;
    border-color: rgb(157, 178, 150)
}

.form-control{
    font-size: 14px;
}

.alert {
    margin-bottom: 0!important;
}

a {
    color:black
}

a.navbar-item {
    text-transform: uppercase;
    color: #9db296;
    font-weight: bolder;
}

a.navbar-item:hover {
    background-color: white;
    color: #9db296;
    text-decoration: none;
}

a:hover{
    color:black;
    text-decoration: none
}

.amberly a:hover{
    color: #4b5647;
    transition: all 2s;
}


#history, #testimonials, #contact {
    padding: 10% 15%;
}

.about-image {
    width: 70%;
    height:auto;
}

#history h2, #featured h2, #landing-quiz h2, .quiz-direct, #testimonials h2, #contact h2{
    margin-bottom: 1em;
    text-align: center;
}

#history p, #landing-quiz p, #testimonials p {
    text-align: justify;
}

#landing-quiz {
    background-color: #9db296;
    padding: 10% 20%
}

#featured {
    padding-top: 4em;
    padding-bottom: 4em;
}

.testimony {
    margin: 2em 0;
}

.testimonial-image {
    width: 100%;
    height: auto;
}

.modal-header {
    border-bottom: none;
}
.modal-content {
    border: 4px solid #4b5647;
}

footer {
    background-color: rgb(157, 178, 150);
    color: white;
    bottom: 0;
}

footer a{
    color:white;
}

footer .modal, footer .modal a {
    color: black;
}

footer .container {
    padding-top: 2em;
    padding-bottom: 2em;
}

.footer-row{
    margin-bottom: 2em;
}

.social-icons {
    margin-left: 15px;
    width:32px;
    height: auto;
}

#account-nav, #cart-nav{
    display: none;
}

@media screen and (max-width:1199px){
    .about-image{
        width: 100%;
    }
}

@media screen and (max-width:1087px){
    #cart-icon, #account-icon {
        display: none;
    }
    #cart-nav, #account-nav{
        display: block;
    }
    .navbar {
        display: block;
    }

    .navbar-brand {
        justify-content: space-around;
        width: 100%;
    }

    #navbarBasic{
        width:100%;
    }
    
}

@media screen and (max-width:1024px){
    .about-image{
        width:80%;
    }
}

@media screen and (max-width:990px){
    #history {
        padding-right: 0;
        padding-left: 0;
    }
}

@media screen and (max-width: 767px){
    p, h6{
        font-size: 12px;
    }
    #quiz, #testimonials {
        padding-right:0;
        padding-left: 0;
    }
    #history {
        padding-left: 0;
        padding-right: 0;
    }
}
@media screen and (max-width: 720px){
    .media-content * {
        margin:0 !important;
    }
    .title.is-4 {
        font-size: 20px !important;
    }
    footer h5{
        font-size: 15px;
        margin-bottom: 0!important;
    }
}
@media screen and (max-width: 576px){
    #history {
        padding-right: 5%;
        padding-left: 5%;
    }
    .social-icons {
        max-width:25px;
        height: auto;
    }
    .media-content * {
        margin:0 !important;
    }
    .title.is-4 {
        font-size: 20px !important;
    }

    .col-sm-6.d-flex{
        justify-content: center!important;
    }
    .footer-row{
        margin-bottom: 1em;
    }
}

@media screen and (max-width: 470px){
    .about-image{
        width:100%
    }
}
