{% extends "layout.html" %}

{% block content %}
<style>
    .cart-item, .cart-orders{
        margin-top: 30px;
        margin-bottom: 30px;
    }
</style>

<div class="container">
    <div class="row">
        <div class="col-sm-8">
                <h2>Your Shopping Cart</h2>
        {% if cart %}
            {% for item in cart %}
            <div class="cart-item row">
                <div class="col-4">
                    <img src="{{item.product.image}}" class="image-fluid" style="height: auto; max-width:100%">
                </div>
                <div class="col-8">
                    <p>{{item.product.name}} ${{item.subtotal}}</p>
                    <p><i>{{item.product.plant}}: {{item.product.meaning}}</i></p>
                    <p>
                        <a href="{{ url_for(('add_to_cart'), origin='cart', productid=item.product.id) }}" class="button">+</a>
                        {{item.quantity}}
                        <a href="/subtract_from_cart/{{item.id}}" class="button">-</a>
                    </p>
                    <a href="/remove_from_cart/{{item.id}}" class="button">Remove</a>
                </div>
            </div>
            {% endfor %}
        {% else %}
            <p>There's nothing in your cart.</p>
        {% endif %}
        <a href="/shop" class="button">Continue Shopping</a>
    </div>

    <div class="col-sm-4">
        <h2>Your Order</h2>
        
        {% for item in cart %}
        <div class="cart-orders">
            <h5>{{item.product.name}}</h5>
            <p>QTY: {{item.quantity}}</p>
            <p>${{item.subtotal}}</p>
        </div>
        {% endfor %}

        <p>Total: ${{order.total_cost}}</p>
        
        {% if cart %}
            <a href="/shipping" class="button">Checkout</a>
        {% endif %}
    </div>
    </div>
</div>
{% endblock %}