{% extends "layout.html" %}

{% block content %}
<div class="container">
    <h2>Confirm your order</h2>
    <div class="row">
        <div class="col-6">
            <h3>Shipping</h3>
            <p>{{order.recipient_fname}} {{order.recipient_lname}}</p>
            <p>{{order.recipient_street_address}}</p>
            <p>{{order.recipient_city}}</p>
            <p>{{order.recipient_state}}</p>
            <p>{{order.recipient_postal_code}}</p>
            <a href="/shipping">Edit</a>
        </div>

        <div class="col-6">
            <h3>Billing</h3>
            <p>{{user.fname}} {{user.lname}}</p>
            <p>{{user.email}}</p>
            <p>{{user.street_address}}</p>
            <p>{{user.city}}</p>
            <p>{{user.state}}</p>
            <p>{{user.postal_code}}</p>
            <a href="/payment">Edit</a>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <h3>Your Order</h3>
            {% for item in cart %}
            <p>{{item.product.name}} ${{item.subtotal}}</p>
            <a href="/add_to_cart/{{item.product.id}}" class="button">+</a>
            {{item.quantity}}
            {% endfor %}
            <p>Total: ${{order.total_cost}}</p>
        </div>
    </div>

    <a href="/checkout" class="button">Checkout</a>
    <a href="/cart" class="button">Return to Cart</a>
    <a href="/shop" class="button">Continue Shopping</a>
</div>

{% endblock %}