{% extends "layout.html" %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-sm-6">
            <h2>Confirm your order</h2>
            <h4>Shipping</h4>
            <p style="margin: 5px 0">{{order.recipient_fname}} {{order.recipient_lname}}</p>
            <p style="margin: 5px 0">{{order.recipient_street_address}}</p>
            <p style="margin: 5px 0">{{order.recipient_city}}</p>
            <p style="margin: 5px 0">{{order.recipient_state}}</p>
            <p>{{order.recipient_postal_code}}</p>
            <a href="/shipping">Edit</a>
        
            <h4>Billing</h4>
            <p style="margin: 5px 0">{{user.fname}} {{user.lname}}</p>
            <p style="margin: 5px 0">{{user.email}}</p>
            <p style="margin: 5px 0">{{user.street_address}}</p>
            <p style="margin: 5px 0">{{user.city}}</p>
            <p style="margin: 5px 0">{{user.state}}</p>
            <p style="margin: 5px 0">{{user.postal_code}}</p>
            <a href="/payment">Edit</a>
        </div>
        <!-- <div class="row"> -->
        <div class="col-sm-6">
            <h2>Your Order</h2>
            <hr>
            {% for item in cart %}
            <div class="row">
                <div class="col-6">
                    <p><strong>{{item.product.name}}</strong> ${{item.subtotal}}</p>
                    <p>QTY: {{item.quantity}}</p>
                </div>
                <div class="col-6">
                    <img src="{{item.product.image}}" style="height:200px; width: 200px">
                </div>
            </div>
            <hr>
            {% endfor %}
            <p>Total: ${{order.total_cost}}</p>
            <form action="/checkout" method="POST">
                <script
                src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                data-key="pk_test_0ZSmd03Ao5L3zGGWFPb784cH00jsfe5W5S"
                data-amount={{order.total_cost*100}}
                data-name="Message"
                data-description="Your order"
                data-image="https://stripe.com/img/documentation/checkout/marketplace.png"
                data-locale="auto">
                </script>
            </form>
            <a href="/cart" class="button">Return to Cart</a>
            <a href="/shop" class="button">Continue Shopping</a>
        </div>
            <!-- </div> -->
            
            <!-- <a href="/checkout" class="button">Checkout</a> -->
        
    </div>
</div>

{% endblock %}