{% extends "profile.html" %}
{% from "macros.html" import field_error %}

{% block profile %}
<h2>Edit Profile</h2>
<a href="/profile">&#8592; Back</a>
<div class="container">
<form method="POST" action="" class="form form-group">
    {{ form.hidden_tag() }}
    
    {{ field_error(form.fname) }}
    <div class=" row">
        {{form.fname.label(class="menu-label col-lg-3 col-sm-5")}}
        <div class="col-lg-9 col-sm-7">
            {{form.fname(value=user.fname, class="form-control")}}
        </div>
    </div>
    {{ field_error(form.lname) }}
    <div class=" row">
        {{form.lname.label(class="menu-label col-lg-3 col-sm-5")}}
        <div class="col-lg-9 col-sm-7">
            {{form.lname(value=user.lname, class="form-control")}}
        </div>
    </div>
    {{ field_error(form.email) }}
    <div class=" row">
        {{form.email.label(class="menu-label col-lg-3 col-sm-5")}}
        <div class="col-lg-9 col-sm-7">
            {{form.email(value=user.email, class="form-control")}}
        </div>
    </div>
    
    <button class="button" type="submit">Edit Profile</button>
        <!-- <a type="submit" class="button" id="submit">Submit Review</a> -->
</form>
</div>
{% endblock %}