{% extends "profile.html" %}
{% from "macros.html" import field_error %}

{% block profile %}
<h2>Edit Address</h2>
<a href="/profile">&#8592; Back</a>
<div class="container">
<form method="POST" action="" class="form form-group">
    {{ form.hidden_tag() }}
    
    <div class="row">
        {{ field_error(form.street_address) }}
        {{form.street_address.label(class="menu-label col-lg-3 col-sm-5")}}
        <div class="col-lg-9 col-sm-7">
            {{form.street_address(value=user.street_address, class="form-control")}}
        </div>
    </div>
    <div class="row">
        {{ field_error(form.city) }}
        {{form.city.label(class="menu-label col-lg-3 col-sm-5")}}
        <div class="col-lg-9 col-sm-7">
            {{form.city(value=user.city, class="form-control")}}
        </div>
    </div>
    <div class="row">
        <input type="hidden" id="st" value="{{user.state}}"/>
        {{ field_error(form.state) }}
        {{form.state.label(class="menu-label col-lg-3 col-sm-5")}}
        <div class="col-lg-3 col-4">
            {{form.state(class="form-control hacky")}}
        </div>
        <script>
            var els = document.getElementsByClassName("hacky")[0];
            els.value = document.getElementById('st').value
        </script>
    </div>
    <div class="row">
        {{ field_error(form.postal_code) }}
        {{form.postal_code.label(class="menu-label col-lg-3 col-sm-5")}}
        <div class="col-lg-9 col-sm-7">
            {{form.postal_code(value=user.postal_code, class="form-control")}}
        </div>
    </div>
    
    <button class="button" type="submit">Edit Address</button>
        <!-- <a type="submit" class="button" id="submit">Submit Review</a> -->
</form>
</div>
{% endblock %}