{% macro render_field(field) %}
<div class="form-group row justify-content-center">

  {% if field.errors %} {% for error in field.errors %}
  <div class="notification error">{{ error }}</div>
  {% endfor %} {% endif %}
  {% if field.widget.input_type != 'hidden' %}
    {{field.label(class="col-sm-2")}}
  {% endif %}
  <div class=col-sm-4>
    {{ field(placeholder = field.label.text, class="form-control") }}
  </div>
</div>
{% endmacro %}

{% macro field_error(field) %}
{% if field.errors %} {% for error in field.errors %}
  <div class="notification error">{{ error }}</div>
  {% endfor %}
  {%endif%}
{% endmacro%}

{% macro review_field(field) %}
<div class="form-group row justify-content-center">


{% if field.errors %} {% for error in field.errors %}
  <div class="notification error">{{ error }}</div>
  {% endfor %} {% endif %}
  {% if field.widget.input_type != 'hidden' and field.widget.input_type != "submit" %}
    {{field.label(class="menu-label col-lg-2")}}
  {% endif %}
  {% if field.widget.input_type == "submit"%}
    <div class=col>
      {{ field(placeholder = field.label.text, class="form-control") }}
    </div>
  {% else %}
    <div class=col-lg-10>
      {{ field(placeholder = field.label.text, class="form-control") }}
    </div>
  {% endif %}
</div>
{% endmacro %}