{% extends 'profile.html' %}

{% block profile %}

<style>
    .date {
        margin-bottom: .25em;
    }
</style>

<div class="row">
    <h2>Your Orders</h2>
</div>
<hr>
{% if orders %}
    <div class="row">
        {% for order in orders %}
            <div class="col-sm-6">
                <p class="date">Order Date: {{order.order_date.strftime('%m/%d/%Y')}}</p>
                <p><small>Order Number: {{order.id}}</small></p>
                <a href="/profile/orders/view_details/{{order.id}}"class="button">View Details</a>
                <hr>
            </div>
        {% endfor %}
    </div>
    {% else %}
    <p>Looks like you haven't ordered anything yet!</p>
    <a class="button" href="/shop">Continue Shopping</a>
    {% endif %}

{% endblock %}