{% extends "layout.html" %}
{% from "macros.html" import field_error %}

{% block content %}

<div class="container">
<h2>Payment Details</h2>
<a href="/shipping">&#8592; Back</a>

<p>{{user.fname}} {{user.lname}}</p>
<p>{{user.email}}</p>
<form method="POST" action="" class="form form-group">
    {{ form.hidden_tag() }}
    
    <div class="form-group row">
        {{ field_error(form.street_address) }}
        {{form.street_address.label(class="col-sm-2 col-form-label")}}
        <div class="col-sm-10">
            {{form.street_address(value=user.street_address, class="form-control")}}
        </div>
    </div>
    <div class="form-group row">
        {{ field_error(form.city) }}
        {{form.city.label(class="col-sm-2 col-form-label")}}
        <div class="col-sm-10">
            {{form.city(value=user.city, class="form-control")}}
        </div>
    </div>
    <div class="form-group row">
        {{ field_error(form.state) }}
        {{form.state.label(class="col-sm-2 col-form-label")}}
        <div class="col-sm-2">
            {{form.state(value=user.state, class="form-control")}}
        </div>
    </div>
    <div class="form-group row">
        {{ field_error(form.postal_code) }}
        {{form.postal_code.label(class="col-sm-2 col-form-label")}}
        <div class="col-sm-10">
            {{form.postal_code(value=user.postal_code, class="form-control")}}
        </div>
    </div>
    
    <button class="button" type="submit">Review Order</button>
        <!-- <a type="submit" class="button" id="submit">Submit Review</a> -->
</form>


      
</div>
{% endblock %}