{% extends "shop.html" %}

{% block shop %}

{% for item in product %}
    <div class="col-sm-4 col-6 product-cards">
        <a class="card" href="/shop/product/{{item.data_name}}">
            <div class="card-image">
                <figure class="image">            
                    <img src="{{item.image}}" alt="{{product.name}} image">
                </figure>
            </div>
            <div class="card-content">
                <div class="media">
                <div class="media-content">
                    <p><strong>{{item.name}}</strong></p>
                </div>
                        <div class="media-right">
                            ${{item.price}}
                        </div>
                </div>
            
            </div>
        </a>
    </div>
{% endfor %}

{% endblock %}