{% extends 'layout.html' %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-sm-4">
            <h3> Good {{greeting}}, {{user.fname}}</h3>
            
            <aside class="menu">
                <p class="menu-label">
                    Profile
                </p>
                <ul class="menu-list">
                    <li><a href="{{url_for('profile')}}">Dashboard</a></li>
                    <li><a href="{{url_for('order_history')}}">Order History</a></li>
                    <li><a href="{{url_for('reviews')}}">Your Reviews</a></li>
                    <li><a href="{{url_for('logout')}}">Log Out</a></li>
                </ul>
            </aside>
        </div>
        <div class="col-sm-8">
            <!-- <div class="container"> -->
                {% block profile %}
                {% endblock %}
            <!-- </div> -->
        </div>
    </div>
</div>
{% endblock %}