{% extends "layout.html" %}

{% block content %}
<link rel="stylesheet" href="{{url_for('static', filename='quiz.css')}}">
<style>
    body{
        background-image: url('../static/quiz-bg.jpg');
    }
    .full-height {
        height:80vh;
    }
    .quiz-container{
        padding-top: 30px;
        height: 60vh;
        width: 60vw;
        background-color: white;
        border: 4px solid #273a84;
        text-align: center;
    }
    
</style>

<div class="full-height d-flex align-items-center">

    
    <div class="quiz-container container">
        <form id="quiz">
            <div class="quiz-intro">
                <h2>This is a quiz. For fun.</h2>
                <p>Have you ever wondered what flower you would be? Every flower has a different meaning. Take our quiz and find out which one you are!</p>
                <button class="button next">Start</button>
            </div>
            <div class="question hide">
                <h3>What qualities do you consider most important in a partner?</h3>
                <input type="radio" name="partner" value=2 required>azalea <br>
                <input type="radio" name="partner" value=4 required>mistletoe <br>
                <input type="radio" name="partner" value=1 required>bayleaf <br>
                <input type="radio" name="partner" value=3 required>bluebell <br>
                <button class="hide button next">Next</button>
            </div>

            <div class="question hide">
                <h3>Which color do you prefer the most?</h3>
                <input type="radio" name="color" value=4 required>mistletoe <br>
                <input type="radio" name="color" value=3 required>bluebell <br>
                <input type="radio" name="color" value=1 required>bayleaf <br>
                <input type="radio" name="color" value=2 required>azalea<br>
                <button class="hide button next">Next</button>
            </div>

            <div class="question hide">
                <h3>In your spare time, you would rather:</h3>
                <input type="radio" name="hobbies" value=3 required>bluebell <br>
                <input type="radio" name="hobbies" value=2 required>azalea <br>
                <input type="radio" name="hobbies" value=4 required>mistletoe <br>
                <input type="radio" name="hobbies" value=1 required>bayleaf <br>
                <button class="hide button next">Next</button>
            </div>

            <div class="question hide">
                <h3>Which element speaks to you the most?</h3>
                <input type="radio" name="element" value=3 required>bluebell <br>
                <input type="radio" name="element" value=2 required>azalea <br>
                <input type="radio" name="element" value=4 required>mistletoe <br>
                <input type="radio" name="element" value=1 required>bayleaf <br>
                <input type="submit" class="button" value="Finish Quiz">
            </div>

        </form>

    <div class="hide" id="bayleaf">bay</div>
    <div class="hide" id="azalea">azalea</div>
    <div class="hide" id="bluebell">bluebell</div>
    <div class="hide" id="mistletoe">mistletoe</div>

    </div>
</div>
<script src="{{url_for('static', filename='quiz.js')}}"></script>

{% endblock %}
