{% extends "layout.html" %}
{% from 'macros.html' import render_field %}

{% block content %}

<div class="login">

    <div class="container">
        <div class="row justify-content-center">
            <h2>Sign Up</h2>
        </div>
        <form method="POST" action="" class="form">
            {{ form.hidden_tag() }}
            {% for field in form %}
                {{ render_field(field) }}
            {% endfor %}
            <div class="row justify-content-center">
                <div class="col-6">
                    <button type="submit" class="button btn-block" id="submit">Sign Up</button>
                </div>
            </div>
        </form>
    </div>
</div>
{%endblock%}