{% extends "layout.html" %}

{% block content %}
<style>
    .thank-you{
        padding-top: 10em;
        padding-bottom: 10em;
        text-align: center;
    }
</style>

<div class="thank-you container">
    <div class="row">
        <div class="col">
            <h2>Thank you for your order, {{user.fname}}!</h2>
            <h5><strong>Total:</strong> ${{order.total_cost}}</h5>
            <h5>Your order number is {{order.id}}</h5>
            
        </div>
    </div>

    <a href="/profile/orders" class="button">See your orders</a>
    <a href="/shop" class="button">Continue Shopping</a>
</div>

{% endblock %}