{% extends 'profile.html' %}

{% block profile %}
<a href="/profile/orders">&#8592; Back</a>
<h2>Order Details</h2>
<p>Order date: {{order.order_date.strftime('%m/%d/%Y')}}</p>
<p>Total: ${{order.total_cost}}</p>
<div class="container">
    <hr>
{% for detail in details %}
    <div class="row">
        <div class="col-md-4 col-6">
            <img src="{{detail.product.image}}" alt="Placeholder image">
        </div>
        <div class="card-content col-md-8 col-6">
            <h5>{{detail.product.name}}</h5>
            <p>QTY: {{detail.quantity}}</p>
            <p>${{detail.subtotal}}</p>
            <a class="button" href="{{ url_for(('add_to_cart'), origin='order', productid=detail.product.id, orderid=order.id) }}">Add to cart</a>
        </div>
    </div>
    <hr>
    {% endfor %}
</div>
<h3>Shipping Address</h3>
<p>{{order.recipient_fname}} {{order.recipient_lname}}</p>
<p>{{order.recipient_street_address}}</p>
<p>{{order.recipient_city}}</p>
<p>{{order.recipient_state}}</p>
<p>{{order.recipient_postal_code}}</p>

{% endblock %}